---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

const pageTitle = "SSP";
const skillColor = "red";
---

<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/SSP_favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: green;
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>으바웃미</h1>
    <Navigation />
    <h1 class="skill">이거 스끼린데</h1>
  </body>
</html>
