---
import Footer from "../components/Footer.astro";
import KgNavigation from "../components/KgNavigation/KgNavigation.astro";
import Navigation from "../components/Navigation.astro";
import Horse3D from "../components/Horse3D.astro";
---

<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/SSP_favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SSP</title>
  </head>
  <body>
    <Navigation />
    <h1>SSP</h1>
    
    <div class="horse-container">
      <Horse3D />
    </div>
    
    <KgNavigation />
    <Footer />
  </body>
</html>

<style>
  .horse-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
  }
</style>
