---
import Footer from "../components/Footer.astro";
import KgNavigation from "../components/KgNavigation/KgNavigation.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/SSP_favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SSP</title>
  </head>
  <body>
    <Navigation />
    <h1>SSP</h1>
    <KgNavigation />
    <Footer />
  </body>
</html>
